.CodeMirror {
  height: 100%;
  width: 100%;
}
.lint-error {
  font-size: 90%;
  padding: 2px 5px 3px;
  position: relative;
}
.lint-error-icon {
  z-index: 2;
  position: absolute;
  top: 2px;
  left: 6px;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 7px;
  height: 15px;
  width: 15px;
  display: inline-block;
  text-align: center;
  line-height: 15px;
}
.lint-error-message {
  z-index: 1;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px;
  width: 250px;
  background: #ffa;
  color: #a00;
}
.lint-error:hover .lint-error-message {
  display: block;
}
html, body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}
.hint-gutter {
  width: 20px;
}
.header {
  padding: 5px 10px;
  height: 2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.logout {
  float: right;
  color: #a6e22e;
  height: 2em
}
.code_panel {
  width: 100%;
  height: calc(100vh - 3.4em);
  font-size: 1.3em;
  transition: height 500ms;
}
.result_panel {
  top: calc(100vh - 2em);
  left: 0;
  width: 100%;
  height: 50vh;
}
.revealed .code_panel {
  height: calc(50vh - 2em);
}
.revealed .result_panel {
  top: 50vh;
}
