/**
 * Common CSS for the test result
 */
.result_panel {
  position: absolute;
  padding-top: 2em;
  background: #272822;
  z-index: 10;
  transition: top 500ms;
  overflow: hidden;
  box-sizing: border-box;
}

.result_panel .CodeMirror {
  background: transparent;
  overflow-y: auto;
}

.result_panel .test_progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  display: table;
  border-spacing: 5px 0;
  background-color: #3E4037;
  box-sizing: border-box;
  padding: 0.5em;
}
.result_panel .test_progress .bar {
  display: table-cell;
}
.result_panel .test_progress .pass {
  background-color: #A6E22E;
}
.result_panel .test_progress .fail {
  background-color: #F9263C;
}

.result_panel .tests,
.result_panel .results {
  width: 45%;
  margin-left: 5%;
  float: left;
  height: 100%;
  overflow: auto;
}
.result_panel .pb {
  width: 10px;
  padding-bottom: 50px;
}

.result_panel .spec {
  margin-left: 20px;
}
.result_panel .spec-message {
  margin-left: 30px;
}
.result_panel .passing {
  color: #A6E22E;
}
.result_panel .failing {
  color: #F9263C;
}

.result_panel .suite {
  color: #e6db74;
  text-decoration: underline;
}
