{{#users}}
  <div class="user js-user {{data.tests.testClass}} {{#selected}}selected{{/selected}} {{#inactive}}inactive{{/inactive}}" data-id="{{id}}">{{name}} <span>{{data.tests.testsStr}}</span></div>
{{/users}}
