{{#exercise.hasFiles}}
  <nav class="file_tabs">
    {{#exercise.files}}
      <li class="js-file-tab {{fileClass}}" data-file-id="{{name}}">{{name}}</li>
    {{/exercise.files}}
  </nav>
  <script>
  window.files = {{{exercise.jsFiles}}};
  </script>
{{/exercise.hasFiles}}
