{{#yield-styles}}
  <link rel="stylesheet" href="/editor.css">
{{/yield-styles}}

{{#yield-content}}
  <div id="editor_wrapper" class="editor_wrapper{{^exercise.tests}}_horizontal{{/exercise.tests}}">
    <div class="header">Welcome {{username}} <a href="#" class="logout">Logout</a></div>
    <div class="panel code_panel">
      {{> editor_file_tabs }}
      <textarea id="code_panel">{{{exercise.code}}}</textarea>
    </div>
    <div class="panel result_panel" id="result_panel_wrapper">
      {{> editor_results_panel }}
    </div>
  </div>
{{/yield-content}}

{{#yield-scripts}}
  <script>
  window.files = {{{exercise.jsFiles}}};
  </script>
  <script src="/editor.js"></script>
{{/yield-scripts}}
