{{#yield-styles}}
  <link rel="stylesheet" href="/login.css">
{{/yield-styles}}

{{#yield-content}}
  <span id="name" contenteditable="true"></span>
  <span class="placeholder">My name is...</span>
{{/yield-content}}

{{#yield-scripts}}
  <script src="/login.js"></script>
{{/yield-scripts}}
